.panel.panel-default
    .panel-heading
        h3.panel-title Latest Comments
    .panel-body
        ul.media-list
            // iterate sidebar comments
            li.media
                a.pull-left(href="/images/imageid")
                    img.media-object(src="/public/upload/filename", width="45", height="45", alt="filename")
                .media-body Comment
                    br
                    strong.media-heading name
                    small.text-muted timestamp

