div(style="border-top: solid 1px #eee; padding-top: 1em;")
    .container
        .row
            .col-sm-12.text-center
                p.text-muted imgPloadr.io | &copy; Copyright 2014, All Rights Reserved
                p.text-center
                    i.fa.fa-twitter-square.fa-2x.text-primary
                    i.fa.fa-facebook-square.fa-2x.text-primary
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(type="text/javascript", src="/public/js/script.js")
