.panel.panel-default
    .panel-heading
        h3.panel-title Stats
    .panel-body
        .row
            .col-md-2.text-left Images:
            .col-md-10.text-right #{sidebar.stats.images}
        .row
            .col-md-2.text-left Comments:
            .col-md-10.text-right #{sidebar.stats.comments}
        .row
            .col-md-2.text-left Views:
            .col-md-10.text-right #{sidebar.stats.views}
        .row
            .col-md-2.text-left Likes:
            .col-md-10.text-right #{sidebar.stats.likes}
