doctype 5
html(lang="en")
head
    meta(charset="UTF-8")
    title imgPloadr.io
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="styleshee")
    link(href="/public/css/styles.css", rel="stylesheet", type="text/css")
body
    .page-header
        .container
            .col-md-6
                h1: a imgPloadr.io
    .container
        .row
            .col-sm-8
                // body stuff goes here
            .col-sm-4
                // side panes go here
    div(style="border-top: solid 1px #eeeeee; padding-top: 1em;")
        .container
            .row
                .col-sm-12.text-center
                    p.text-muted imgPloader.io | &copy; Copyright 2015, All Rights Reserved
                    p.text-muted
                        i.fa.fa-twitter-square.fa-2x.text-primary
                        i.fa.fa-facebook-square.fa-2x.text-primary
