.panel.panel-primary
    .panel-heading
        h3.panel-title Upload an image
    form(method="post", enctype="multipart/form-data", action="/images")
        .panel-body.form-horizontal
            .form-group.col-md-12
                label.col-sm-2.control-label(for="file") Browse:
                .col-md-10
                    input.form-control(type="file", name="file")
            .form-group.col-md-12
                label.col-md-2.control-label(for="title") Title:
                .col-md-10
                    input.form-control(type="text", name="title")
            .form-group.col-md-12
                label.col-md-2.control-label(for="description") Description:
                .col-md-10
                    textarea.form-control(name="description", rows="2")
            .form-group.col-md-12
                .col-md-12.text-right
                    button.btn.btn-success#login-btn(type="submit")
                        i.fa.fa-cloud-upload Upload Image
.pane.panel-default
    .panel-heading
        h3.panel-title Newest Images
    .panel-body
        // interate over images
        .col-md-4.text-center(style="padding-bottom: 1em;")
            a(href="/images")
                img.img-thumbnail(src="/public/upload/filename", alt="filename", style="width: 175px; height: 175px;")

